body {
  background-color: lightblue;
  margin: 0;
  padding: 0;
}
header {
  background-color: darkblue;
  color: white;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
}
button {
  background-color: red;
  padding: 1% 15%;
  margin: 10 160px;
}
a {
  color: black;
  text-decoration: none;
  padding: 7% 1%;
}
nav ul li {
  background-color: white;
  margin: 15px 0;
}