body {
  background-color: white;
  text-align: center;
}
button {
  display: flex;
  margin: 10% 25%;
}
.button1 {
  color: black;
  text-align: bold;
  background-color: pink;
}
.button2 {
  color: black;
  text-align: bold;
  background-color: lightgreen;
}
.button3 {
  color: violet;
  text-align: bold;
  background-color: black;
}
.button4 {
  color: white;
  text-align: bold;
  background-color: violet;
}
a {
  text-decoration: none;
}
